@font-face {
    font-family: 'Source Han Sans';
    font-style: normal;
    src: url('../font/font.eot');
    src: url('../font/font.eot?#iefix') format('embedded-opentype'), url('../font/font.woff') format('woff'), url('../font/font.ttf') format('truetype');
}

body {
    position: relative;
    font-family: 'Source Han Sans';
    margin: 0;
    font-size: 14px;
}


/* ヘッダー */

.header {
    text-align: center;
    padding-top: 6px;
}


/* wrapper*/

.wrapper {
    width: 720px;
    margin: 0 auto;
}


/*自己紹介*/

.side {
    border-right: 6px solid;
    float: left;
    width: 200px;
    height: 390px;
    padding-right: 10px;
}

.introduction {
    line-height: 0.6;
}


/*プロフォール画像*/

.profile {
    width: 200px;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


/*リンク*/

.main {
    float: right;
    width: 480px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
}


/*ボタン*/

.btn {
    /*角を丸く*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 30px;
}




/*スマホ用*/
@media screen and (orientation: portrait) {
    body {
        font-size: 36px;
    }
    .wrapper {
        text-align: center;
        width: 90%;
        height: 100%;
    }
    h1 {
        letter-spacing: 12px;
    }
    .side {
        width: 100%;
        text-align: center;
        height: auto;
        margin-top: -48px;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        float: none;
        border: none;
    }
    .profile {
        margin-top: -65px;
        width: 300px;
        height: auto;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
    .introduction {
        width: 480px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        letter-spacing: -2px;
        line-height: 0.3;
    }
    .main {
        margin-top: -30px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        height: auto;
        float: none;
    }
    .Links {
        margin-top: -40px;
        text-align: center;
    }
    .btn {
        padding: 25px;
        width: 80%;
        font-size: 50px;
        letter-spacing: 10px;
        margin-right: 0px auto;
        margin-left: 0px auto;
        margin-bottom: 20px;
    }
}
