@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    position: relative;
    font-family: 'Noto Sans Japanese';
    margin: 0;
    font-size: 14px;
}


/* ヘッダー */

.header {
    text-align: center;
    padding-top: 6px;
}

.header_morning {
    background-color: #0BA60B;
}

.header_noon {
    background-color: #D6431B;
}

.header_night {
    background-color: #6C469A;
}


/* ロゴ */

.logo {
    text-align: center;
    width: 64px;
    height: 64px;
}

.logo_even {
    -webkit-animation: spin_even 10s linear infinite;
    -moz-animation: spin_even 10s linear infinite;
    -ms-animation: spin_even 10s linear infinite;
    -o-animation: spin_even 10s linear infinite;
    animation: spin_even 10s linear infinite;
}

@-webkit-keyframes spin_even {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin_even {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin_even {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin_even {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin_even {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo_odd {
    -webkit-animation: spin_odd 10s linear infinite;
    -moz-animation: spin_odd 10s linear infinite;
    -ms-animation: spin_odd 10s linear infinite;
    -o-animation: spin_odd 10s linear infinite;
    animation: spin_odd 10s linear infinite;
}

@-webkit-keyframes spin_odd {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spin_odd {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-ms-keyframes spin_odd {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(-360deg);
    }
}

@-o-keyframes spin_odd {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(-360deg);
    }
}

@keyframes spin_odd {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* wrapper*/

.wrapper {
    width: 720px;
    margin: 0 auto;
}


/*自己紹介*/

.profile {
    border-right: 6px solid;
    float: left;
    width: 200px;
    height: 390px;
    padding-right: 10px;
}

.profile_morning {
    /* headrの色と同じ */
    border-color: #0BA60B;
}

.profile_noon {
    /* headrの色と同じ */
    border-color: #D6431B;
}

.profile_night {
    /* headrの色と同じ */
    border-color: #6C469A;
}

.introduction {
    line-height: 0.6;
}


/*プロフォール画像*/

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


/*リンク*/

.links {
    float: right;
    width: 480px;
    height: 390px;
    padding-left: 10px;
    padding-right: 10px;
}


/*ボタン*/

.btn {
    /*角を丸く*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 30px;
}

.btn_morning {
    background-color: #B6D11B;
}

.btn_morning:hover {
    background-color: #CDE05E;
}

.btn_noon {
    background-color: #F1B709;
}

.btn_noon:hover {
    background-color: #F6CE59;
}

.btn_night {
    background-color: #3B60A8;
}

.btn_night:hover {
    background-color: #718DC5;
}


/*スマホ用*/

@media screen and ( max-width:720px) {
    body {
        font-size: 32px;
    }
    .wrapper {
        text-align: center;
        width: 80%;
        height: 100%;
    }
    h1 {
        letter-spacing: 12px;
    }
    .profile {
        width: 100%;
        text-align: center;
        height: auto;
        margin-top: -42px;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        float: none;
        border: none;
    }
    .profile-pic {
        margin-top: -65px;
        width: 300px;
        height: auto;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
    .introduction {
        width: 480px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        letter-spacing: -2px;
        line-height: 0.3;
    }
    .links {
        margin-top: -30px;
        padding-right: 10px;
        padding-left: 10px;
        width: 100%;
        height: auto;
        float: none;
    }
    .Links_btn {
        margin-top: -40px;
        text-align: center;
    }
    .btn {
        padding: 25px;
        width: 80%;
        height: 50%;
        font-size: 40px;
        letter-spacing: 10px;
        margin-right: 0px auto;
        margin-left: 0px auto;
        margin-bottom: 20px;
    }
}

