@font-face {
    font-family: 'Source Han Sans';
    font-style: normal;
    src: url('font/font.eot');
    src: url('font/font.eot?#iefix') format('embedded-opentype'), url('font/font.woff') format('woff'), url('font/font.ttf') format('truetype');
}


/* ボディPC */

body {
    font-family: 'Source Han Sans';
    margin: 0;
    /* スペース */
    font-size: 15px;
    /* 文字サイズ */
    /* 行の高さ */
}


/* ヘッダー */

.header {
    text-align: center;
    padding-top: 5px;
    background-color: #40AAEF;
}


/* wrapper*/

.wrapper {
    width: 720px;
    margin: 0 auto;
    /* 左右に[auto]を指定することで、真ん中に寄る */
}

@media screen and ( max-width:479px) {
    .wrapper {
        width: auto;
    }
}


/* 全体(デスクトップPCとスマホ)に適用するCSS */

.main {
    float: right;
    width: 480px;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.side {

    border-right: 3px #40AAEF solid;
    float: left;
    width: 200px;
    height: 390px;
    padding-right: 10px;
}

.introduction {
    line-height: 0.6;
}

@media screen and ( max-width:1024px) {
    .main {

        padding: 0;
        float: none;
        border: none;
    }
    .side {
        width: auto;
        float: none;
        border: none;
    }
}


@media screen and ( max-width:435px) {
    .main {
        width: auto;
    }

}



/*プロフォール画像*/

.profile {
    width: 200px;
    height: auto;
}


/*logo*/

.logo {
    text-align: center;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -ms-animation: spin 10s linear infinite;
    -o-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*ボタン*/

.btn {
    letter-spacing: 3px;
    float: left;
    font-size: 23px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    text-decoration: none;
    line-height: 54px;
    background-color: #FBA848;
    color: #FFF;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #FDC44F;
}
