/*共通部分*/

body {
    font-family: Quicksand, 游ゴシック体 Medium, 'Yu Gothic Medium', YuGothic Medium, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'MS Pゴシック', 'MS PGothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    background-color: #F4F4F2;
    position: relative;
    color: #242424;
    margin: 0 auto;
}

.content-wrapper {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 30px;
}


/*index*/

.center-box {
    /*    上下左右中央揃え*/
    /* transform: translate(calc(50vw - 50%), calc(40vh - 50%)); */
    margin: calc(40vh - 100px) auto;
    background: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0.5px 2px 3px 0.5px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    max-width: 500px;
    min-height: 191px;
    padding: 10px;
}

.profile {
    display: -webkit-flex;
    display: flex;
    margin-top: 25px;
}

.profile-side {
    -webkit-flex: 0.5;
    flex: 0.5;
}

.profile-main>p {
    padding-left: 15px;
    line-height: 23px;
}

.helloworld {
    font-size: 1.4em;
    letter-spacing: 2px;
}

.i-am {
    font-size: 1.2em;
}

.name {
    font-size: 1.8em;
}

.profile-pic {
    height: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-box {
    text-align: center;
    margin-top: 4px;
}

.button-box>.mdl-button {
    font-size: 1.7em;
}

@media screen and (orientation: portrait) {
    .center-box {
        width: 85%;
        max-width: none;
    }
    .profile {
        flex-flow: column nowrap;
    }
    .profile-main {
        margin-top: 20px;
        text-align: center;
    }
    .button-box>.mdl-button {
        font-size: 2.3em;
    }
}


/*works*/

.mdl-navigation>.mdl-button {
    font-size: 1.4em;
}

.works-box {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.mdl-card {
    width: 300px;
    height: 400px;
    margin: 5px;
}

.mdl-card__title {
    height: 180px;
}

.mdl-card__supporting-text {
    margin-bottom: -20px;
}

.mdl-card__supporting-text>p {
    font-size: 0.9em;
    line-height: 1.1em;
}

.card-title {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 2px
}

.mdl-card__actions>.mdl-button {}

@media screen and (orientation: portrait) {
    .mdl-card {
        width: 80vw;
        margin: 5px;
    }
    .mdl-card__supporting-text>p {
        font-size: 1.6vh;
        line-height: 1.1em;
    }
    .button-box>.mdl-button {
        font-size: 1.7em;
    }
}

/*profile*/

.profile-box {
    margin: 0 auto;
    margin-top: 10px;
    background: #F8F8F8;
    border-radius: 5px;
    box-shadow: 0.5px 2px 3px 0.5px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    max-width: 720px;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 160%;
}

.spin {
    -webkit-animation: spin 600s linear infinite;
    -moz-animation: spin 600s linear infinite;
    -ms-animation: spin 600s linear infinite;
    -o-animation: spin 600s linear infinite;
    animation: spin 600s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}