@charset "utf-8";
@font-face {
    font-family: 'Source Han Sans';
    font-style: normal;
    src: url('../font/font.eot');
    src: url('../font/font.eot?#iefix') format('embedded-opentype'), url('../font/font.woff') format('woff'), url('../font/font.ttf') format('truetype');
}

body {
    position: relative;
    font-family: 'Source Han Sans';
    margin: 0 auto;
    font-size: 14px;
    
}


/* ヘッダー */

.header {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}

.header_morning {
    background-color: #0BA60B;
}

.header_noon {
    background-color: #D6431B;
}

.header_night {
    background-color: #6C469A;
}


/* ロゴ */

.logo {
    text-align: center;
    width: 64px;
    height: 64px;
}

.logo_even {
    -webkit-animation: spin_even 10s linear infinite;
    -moz-animation: spin_even 10s linear infinite;
    -ms-animation: spin_even 10s linear infinite;
    -o-animation: spin_even 10s linear infinite;
    animation: spin_even 10s linear infinite;
}

@-webkit-keyframes spin_even {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin_even {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin_even {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin_even {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin_even {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo_odd {
    -webkit-animation: spin_odd 10s linear infinite;
    -moz-animation: spin_odd 10s linear infinite;
    -ms-animation: spin_odd 10s linear infinite;
    -o-animation: spin_odd 10s linear infinite;
    animation: spin_odd 10s linear infinite;
}

@-webkit-keyframes spin_odd {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spin_odd {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-ms-keyframes spin_odd {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(-360deg);
    }
}

@-o-keyframes spin_odd {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(-360deg);
    }
}

@keyframes spin_odd {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* wrapper*/

.wrapper {
    width: 720px;
    height: 390px;
    margin: 0 auto;
    
}


/*自己紹介*/

.profile {
    border-right: 6px solid;
    float: left;
    width: 200px;
    height: 390px;
    padding-right: 10px;
    
}

.profile_morning {
    /* headrの色と同じ */
    border-color: #0BA60B;
}

.profile_noon {
    /* headrの色と同じ */
    border-color: #D6431B;
}

.profile_night {
    /* headrの色と同じ */
    border-color: #6C469A;
}

.introduction {
    line-height: 0.6;
}


/*プロフォール画像*/

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}


/*リンク*/

.links {
    float: right;
    width: 480px;
    height: 390px;
    padding-left: 10px;
    padding-right: 10px;
}


/*ボタン*/

.btn {
    /*角を丸く*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    letter-spacing: 3px;
    font-size: 23px;
    display: inline-block;
    width: 200px;
    height: auto;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 5px;
}

.btn_morning {
    background-color: #B6D11B;
}

.btn_morning:hover {
    background-color: #CDE05E;
}

.btn_noon {
    background-color: #F1B709;
}

.btn_noon:hover {
    background-color: #F6CE59;
}

.btn_night {
    background-color: #3B60A8;
}

.btn_night:hover {
    background-color: #718DC5;
}

.btn_above {
    padding-bottom: 60px;
}

.btn_guide {
    width: 480px;
    text-align: center;
    line-height: 1.8;
    margin-top: 5px;
}

.btn_guide_twitter {
    width: 240px;
    float: left;
}

.btn_guide_bookmeter {
    width: 240px;
    float: right;
}

.line {
    border-top: 6px solid;
    border-color: #6C469A;
}

.article {
    margin: 0 auto;
    width: 360px;
}

.post{
    border-bottom: 3px solid;
}

.post-link {
    font-size: 25px;
    margin-right: 20px;
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
.post_data{
    margin-left: 400px;
}

.posts_text {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
}

.post {
    border-bottom: 1px solid;
    border-color: $grey-color ;
}

.andmore {
    font-size: 15px;
    margin-left: 550px;
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

//ポストhtml
.index {
    float: right;
    width: 150px;
    margin-top: 160px;
}

.article_txt {
    float: left;
    width: 530px;
}

.post-link-index {
    font-size: 15px;
}

.page-link {
    font-size: 15px;
    margin-right: 14px;
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/*スマホ用*/

@media screen and ( max-width:720px) {
    .wrapper {
        text-align: center;
        width: 80%;
        height: 100%;
        padding-right: 20px;
    }
    h1 {
        letter-spacing: 12px;
    }
    .profile {
        width: 100%;
        height: auto;
        padding-top: 0px;
        padding-right: 10px;
        padding-left: 10px;
        float: none;
        border: none;
    }
    .profile-pic {
        width: 128px;
        height: auto;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
    }
    .introduction {
        font-size: 15px;
        width: 210px;
        height: auto;
        margin: 0 auto;
        text-align: left;
        letter-spacing: -2px;
        line-height: 0.3;
    }
    .links {
        width: 100%;
        height: auto;
        float: none;
    }
    .Links_btn {
        text-align: center;
    }
    .btn {
        padding: 8px;
        width: 80%;
        height: 5%;
        font-size: 30px;
        letter-spacing: 10px;
        margin-right: 0px auto;
        margin-left: 0px auto;
        margin-bottom: 20px;
    }
    .btn_guide {
        display: none;
    }
    .btn_above {
        padding-bottom: 0px
    }
    .andmore {
        margin-left: 20px;
    }
    .wrapper-post {
        text-align: left;
    }
    .post_data{
        margin-left: 0px;
        text-align: right
    }
    .post-link{
        margin: 0px;
        
        
    }
    .post{
        margin-left: -10px;
    }
    .posts_text {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 0px;
    }
    .post-content {
        font-size: 100%;
    }
    .articles{
        margin: 0 auto;
    }
    .articles-title{
        margin-left: 25px;
    }
}