@charset "utf-8";
body {
    background-color: $background-color;
    position: relative;
    font-family: $base-font-family;
    color: $text-color;
    margin: 0 auto;
<<<<<<< HEAD
    font-size: $base-font-size;
=======
    font-size: 12px;

>>>>>>> origin/master
}


/* ヘッダー */

.header {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 4px;
}

.header_morning {
    background-color: $morning-color;
}

.header_noon {
    background-color: $noon-color;
}

.header_night {
    background-color: $night-color;
}


/* ロゴ */

.logo {
    text-align: center;
    width: 32px;
    height: 32px;
}

.logo_even {
    -webkit-animation: spin_even 20s linear infinite;
    -moz-animation: spin_even 20s linear infinite;
    -ms-animation: spin_even 20s linear infinite;
    -o-animation: spin_even 20s linear infinite;
    animation: spin_even 20s linear infinite;
}

@-webkit-keyframes spin_even {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin_even {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes spin_even {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin_even {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin_even {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo_odd {
    -webkit-animation: spin_odd 20s linear infinite;
    -moz-animation: spin_odd 20s linear infinite;
    -ms-animation: spin_odd 20s linear infinite;
    -o-animation: spin_odd 20s linear infinite;
    animation: spin_odd 20s linear infinite;
}

@-webkit-keyframes spin_odd {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spin_odd {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-ms-keyframes spin_odd {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(-360deg);
    }
}

@-o-keyframes spin_odd {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(-360deg);
    }
}

@keyframes spin_odd {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* wrapper*/

.wrapper {
    width: 720px;
    height: 700px;
    margin: 0 auto;
}

.link {
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/*自己紹介*/

.profile {
    border-right: 3px solid;
    float: left;
    width: 150px;
    height: 370px;
    padding-right: 5px;
    padding-left: 5px;
}

.profile_morning {
    /* headrの色と同じ */
    border-color: $morning-color;
}

.profile_noon {
    /* headrの色と同じ */
    border-color: $noon-color;
}

.profile_night {
    /* headrの色と同じ */
    border-color: $night-color;
}

//自己紹介文
.introduction {
    font-size: 15px;
    line-height: 1.8;
}

.introduction-small {
    font-size: 12px;
}


/*プロフォール画像*/

.profile-pic {
    width: 130px;
    height: auto;
    border-radius: 600px;
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//.line {
//    border-top: 6px solid;
//    border-color: #6C469A;
//}
//記事リスト
.articles {
    float: right;
    width: 550px;
}

.article {
    margin: 0 auto;
    width: 360px;
}

//記事リストタイトル
//記事リスト境目の線
hr {
    border: 0;
    background-color: $grey-color-light;
    max-width: 100%;
    box-sizing: border-box;
    height: 1px;
}
.post{
    margin-top: 4px;
}

//記事リンク
.post-link {
    font-size: 18px;
}

//記事投稿日
.post_data {
    margin-left: 410px;
    margin-top: 5px;
}

//記事内画像
.post-image {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

//記事内テキスト
//.posts_text {
//    font-size: 16px;
//    margin-top: 10px;
//    margin-left: 20px;
//}
//記事一覧リンク
.andmore {
    font-size: 17px;
    margin-left: 450px;
}

//ポストhtml
.index {
    float: right;
    width: 150px;
    margin-top: 160px;
}

.post-link-index {
    font-size: 15px;
}

.page-link {
    font-size: 15px;
    margin-right: 14px;
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}
.article-list{
    width: 550px;
    text-align: center;
}
.profile-wrapper {
    text-align: left;
}

.post-list-a {
    text-align: left
}

.nicothumb {
    width: auto;
    height: auto;
    background-color: #F4F4F2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.niconico_wrapper {
    margin-left: 10px;
    width: 350px;
    height: 105px;
}

.samune {
    float: left;
}

.status {
    width: 200px;
    height: 100px;
    float: right;
    text-align: left;
}


/*スマホ用*/

@media screen and ( max-width:720px) {
    .logo {
        width: 32px;
        height: 32px;
    }
    .wrapper {
        text-align: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }
    .top {
        padding-right: 20px;
    }
    .profile {
        width: 100%;
        height: auto;
        padding-top: 0px;
        float: none;
        border: none;
    }
    .profile-pic {
        width: 128px;
        height: auto;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    .introduction {
        font-size: 15px;
        width: 210px;
        height: auto;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 0px;
        line-height: 1.5;
    }
    .introduction-small:after {
        content: "\A";
        white-space: pre;
    }
    .moreprofile {
        font-size: 16px;
        margin-left: 50px;
    }
    .articles {
        width: 100%;
        height: auto;
        float: none;
    }
    .andmore {
        margin-left: 0px;
        margin-bottom: 200px;
    }
    .wrapper-post {
        text-align: left;
    }
    .post_data {
        margin-left: 0px;
        text-align: right
    }
    .post-link {
        margin-right: 0px;
        font-size: 18px;
    }
    .post-link {
        margin: 0px;
    }
    .post {
        margin-left: -13px;
    }
    .post_data {
        text-align: center;
    }
    .post-content {
        font-size: 100%;
    }
    .articles {
        margin: 0 auto;
    }
    .articles-title {
        margin-left: 0px;
        padding-left: 26px;
    }
}