<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="FAPuB9CpIiyKxTVx8nqG42VIHzSDcQ32tY0ElNS5jOo" />
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


    <!--     OGP-->

    <!--    type,title,url-->
    {% if page.title %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ site.title }}/{{ page.title }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.content | markdownify | strip_html | strip_newlines | truncate: 50}}" /> {% else %}
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ site.description }}" /> {% endif %}

    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.baseurl }}/img/ogp-logo.png" />

    <!--    Twitter-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@kuruppa0616">

    <!--    facebook-->
    <meta property="fb:app_id" content="1505176573124591" />

    <!--     /OGP-->

    <!--    CSS-->
    <link rel="stylesheet" href="{{ site.baseurl }} /css/main.css">

    <!--    謎-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- animsition.css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animsition.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <!--    xdomainajax-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.xdomainajax.js"></script>
    <!--    nicothumb-->
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.nicothumb.js"></script>
    <!-- animsition.js -->
    <script src="{{ site.baseurl }}/js/animsition.min.js"></script>

    <link href="{{ site.baseurl }}/css/lity.css" rel="stylesheet">
<!--    <script src="jquery.js"></script>-->
    <script src="{{ site.baseurl }}/js/lity.js"></script>

  
</head>

<body>


    <div>

        <!--        ロゴ-->
        <div class="header" id="header">
            <a class="page-link" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/logo.svg" class="logo" id="logo">
            </a>
        </div>


        {{ content }}

        <div class="sign">
<!--            <img src="{{ site.baseurl }}/pen.svg" class="pen" id="pen">-->
          
<!--
            <svg class="pen" width="13px" height="13px" viewBox="0 0 21 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                 Generator: Sketch 3.8.1 (29687) - http://www.bohemiancoding.com/sketch 
                <title>pen</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Dribbble-Light-Preview" transform="translate(-379.000000, -359.000000)" fill="#000000">
                        <g id="icons" transform="translate(56.000000, 160.000000)">
                            <path d="M323,219 L343.660141,219 L343.660141,217.042095 L323,217.042095 L323,219 Z M330.231049,212.147332 L330.231049,209.51395 L339.088052,201.64513 L340.979487,203.643172 L332.880712,212.147332 L330.231049,212.147332 Z M344,203.64513 L339.144867,199 L328.165035,208.687714 L328.165035,214.105237 L333.764966,214.105237 L344,203.64513 Z" id="edit-[#1482]"></path>
                        </g>
                    </g>
                </g>
            </svg>
-->
            <svg class="pen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 104.37 104.36"><defs><style>.cls-1{fill:#231815;}</style></defs><title>アセット 1</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M100,4.39a15,15,0,0,0-21.21,0L75.82,7.33l-5.59,5.58A2.29,2.29,0,0,0,69.14,14L9.57,73.58a2.52,2.52,0,0,0-.32.4v0a2.46,2.46,0,0,0-.24.5l0,.06L.13,101.07a2.5,2.5,0,0,0,3.16,3.16l26.52-8.84.07,0a2.5,2.5,0,0,0,.45-.22l.07,0a2.51,2.51,0,0,0,.39-.32L90.9,34.68h0L97,28.55,100,25.6a15,15,0,0,0,0-21.21ZM71.45,18.76,85.6,32.91,29,89.49,14.87,75.34Zm-65,79.14,6-17.94,12,12ZM89.13,29.37,75,15.23l2.59-2.59L91.73,26.78Zm7.31-7.31-1.18,1.18L81.12,9.1,82.3,7.92A10,10,0,0,1,96.44,22.06Z"/></g></g></svg>
            <br>
            kuruppa0616
        </div>


        <script type="text/javascript">
 
           
            
            //時間取得
            DD = new Date();
            Day = DD.getDate();
            Hour = DD.getHours();
            Minute = DD.getMinutes();
            //Hour = 7;
            //Minute = ;
            //Day = 1;

            if (Day % 2 == 0) {
                //偶数日 右回転
                document.getElementById("logo").className = "logo logo_even";
            } else {
                //奇数日 左回転
                document.getElementById("logo").className = "logo logo_odd";
            }


            //時間帯で色を変える
            if (Hour >= 19) {
                //夜1
                //19時～23時
                document.getElementById("header").className = "header header_night";
                document.getElementById("profile").className = "profile profile_night";
  


            } else if (Hour >= 11) {
                //昼
                //11時～18時
                document.getElementById("header").className = "header header_noon";
                document.getElementById("profile").className = "profile profile_noon";
    


            } else if (Hour >= 4) {
                //朝
                //4時～10時
                document.getElementById("header").className = "header header_morning";
                document.getElementById("profile").className = "profile profile_morning";



            } else {
                //夜2
                //0時～3時
                document.getElementById("header").className = "header header_night";
                document.getElementById("profile").className = "profile profile_night";
    

            }

            //KonVa
            if (Hour == 0 && Minute == 00) {
                alert("KonVa");
            }
            //            GoogleAnalytics
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-75882455-1', 'auto');
            ga('send', 'pageview');
        </script>



    </div>

</body>

</html>